body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header input {
    padding: 0.5rem;
    width: 80%;
    margin-top: 1rem;
}

main {
    padding: 1rem;
}

.recipe {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.recipe h2 {
    margin-top: 0;
}
